<% include ../partials/head %>
<body>
<a href="/">Back</a>


<h1><%= college.name %></h1>
<br>

<%= college.deadline %>
<br>
mainprompt
<br>
<%= college.mainPrompt %>
<br>
<div>supplementary prompt</div>
<%= college.supplementaryPrompt %>

</body>
</html>
