<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><</title>
</head>
<body>
<%= college.name %>
<br>

<%= college.deadline %>
<br>
<%= college.mainPrompt %>
<br>

</body>
</html>
