body {
  padding: 100px;
  font: 16px, "Sans Serif", Helvetica, Arial, sans-serif;
}




div {

}

.prompts {
  width: 300px;
}

#name {
  font-size: 50px;
}

#id {
  font-size:50pt;
  height:420px;
  width:200px;
}
