body {
  font: 16px, "Sans Serif", Helvetica, Arial, sans-serif;
<<<<<<< HEAD
  dispay: flex;
  position: absolute;
  top: 10%;
  left: 10%;
  margin-right: -50%;

=======
  max-width: 600px;
>>>>>>> refs/remotes/origin/master
}




div {

}

.prompts {
  width: 300px;
}

#name {
  font-size: 50px;
}

#id {

}
